<h2>
Book Description
</h2>

<div class="row">
	<div class="col-4 d-flex justify-content-center">
		<img class="img-fluid img-thumbnail rounded" src="{{ book.image_url }}">
	</div>
	<div class="col-8">
		<h3>{{ book.title }}</h3>
		<p class="lead">
			Author: {{{ book.authors }}}
		</p>
		<p>
			<code>Pages: </code> <i>{{ book.pages }}</i>
		</p>
		<p>
			<code>Rating: </code> <i>{{ book.rating }}</i>
		</p>
		<p>
			<code>Rating Count: </code> <i>{{ book.rating_count }}</i>
		</p>
		<p>
			<code>Genre: </code> <i>{{ book.genres }}</i>
		</p>

        <a href="/bookReview/{{book.title}}" target="_blank">Find Review</a>
        <br><br>

		<div class="d-flex justify-content-between">
			<a class="btn btn-sm btn-warning" href="/">
				<i class="fas fa-home mr-1"></i>
				Home
			</a>

			<form method="GET" action="/byletter">
						<button type="submit" class="btn btn-primary btn-lg btn-block">Back</button>
						<input type="hidden" id="gobacktoletter" name="gobacktoletter" value="gobacktoletter">
			</form>

			{{#if hasSite}}
				<a class="btn btn-sm btn-primary" href="{{ show.official_site }}" target="_blank">
				<i class="fas fa-paper-plane mr-1"></i>
					Official Site
				</a>
			{{/if}}
		</div>
	</div>
</div>