
{{#if hasResult}}
<h2>Letter {{letter}}</h2>
<br>
<div class="list-group">
	{{#each byletter}}
		<a class="list-group-item list-group-item-action" href="/book/{{this.book_id}}">
			{{ this.title }}
		</a>
	{{/each}}
</div>
<br>
<!-- navigation buttons-->

<div class="container">
  <div class="row">
    <div class="col">
        <form method="GET" action="/">
            <button type="submit" class = "btn btn-success">Home</button>
        </form>
    </div>
    <div class="col">
        {{#if notstartofpage}}
            <form method="GET" action="/byletter">
                <input type="hidden" name="letter" value="{{ letter }}">
                <input type="hidden" name="offset" value={{ prevOffset }}>
                <button type="submit" class = "btn btn-primary">Previous</button>
            </form>
        </td>
        {{/if}}
    </div>
    <div class="col">
        {{#if notendofpage}}
        <td>
            <form method="GET" action="/byletter">
                <input type="hidden" name="letter" value="{{ letter }}">
                <input type="hidden" name="offset" value={{ nextOffset }}>
                <button type="submit" class = "btn btn-primary">Next</button>
            </form>
        </td>
        {{/if}}
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>

    </div>    
  </div>
</div>
 



{{else}}
    <h2>Your search produces no result</h2>

{{/if}}

